body {
    background-color: rgb(136, 35, 35);
}

.secao {
    background-color: rgb(202, 103, 103);
    color: black;
   
}

.texto {
    text-decoration: white;
}

.img {
    width: 200px;
    margin: 25px;
    border-radius: 5px;
   padding-left: 10px;
    padding-right: 10px;
}