body {
    background-color: rgb(199, 196, 161);
}

.secao {
    background-color: rgb(231, 210, 15);
    color: black;
   
}

.texto {
    text-decoration: white;
}

.img {
    width: 200px;
    margin: 25px;
    border-radius: 5px;
   padding-left: 10px;
    padding-right: 10px;
}