body {
    background-color: rgb(136, 35, 35);
}

.secao {
    background-color: rgb(202, 103, 103);
    color: rgb(255, 255, 255);
   
}

.texto {
    color: white;
    padding-right: 20px;
    padding-right: 2em;
    align-self: center;
}

.img {
    width: 200px;
    margin: 25px;
    border-radius: 5px;
   padding-left: 10px;
    padding-right: 10px;
}